.card {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  min-height: 250px;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  box-shadow: 4px 4px 20px 7px #808080a6;
  color: white;
  overflow: hidden;
  &__image {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    height: auto;
  }
  &__content {
    grid-row-start: 1;
    grid-column-start: 1;
    padding: 15px 40px;
  }
  &__number {
    display: flex;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 0 3px;
    opacity: .7;
    font-size: 14px;
  }
  &__name {
    font-size: 16px;
  }
}